.btn {
    cursor: pointer;
}

#cart {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#everything_except_popup_wrapper {
    transition: 0.3s;
}

.popup {
    background-color: #efefef;
    width: 1000px;
    height: 700px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  scale(0);
    transition: 0.3s;
}

.popup-heading {
    text-align: center;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 2rem;
    height: 50px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}